*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: url(https://media.cooky.vn/images/blog-2016/nghe-thuat-trinh-bay-va-chup-anh-mon-an%209.jpg);
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;    
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
@media  (max-width: 768px){
    footer{
        padding: 40px;
             }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}