:root {
  --white-color: #fff;
  --black-color: #000;
  --background-color: #444;
}

* {
  box-sizing: border-box;
}

body,
html {
    /* font-size: 62.5%; */
    line-height: 1.6 rem; 
    font-family: sans-serif;
    background: gray;
    color: #fff;

}

#vanta {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

main {
  position: relative;
}


#main {
  position: absolute;

}



/* Danh sách món ăn */
#manh {
  text-align: center;
  /* max-width: 120rem; */
  margin: auto;
  /* display: none; */
}

#manh-js {
  margin: 0px 0;
  /* max-height: 500px; */
  /* overflow: hidden; */
}

.manh__food {
  width: 280px;
  background-color: var(--background-color);
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 25px 15px 25px 15px;
}

.manh__food-img {
  margin: 15px 10px;
  cursor: pointer;
}

.manh__food-img:hover {
  animation: imganimation linear .5s;

}

@keyframes imganimation {
  to {
    transform: translateY(0);
  }

  from {
    transform: translateY(3px);
  }
}

.manh__food-star {
  color: yellow;
  font-size: 15px;
  margin-bottom: 30px;

}

.manh__food-star i {
  margin: 0 5px;
}

.manh__food-title {
  color: rgb(245, 96, 96);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 400;
}

.manh__food-description {
  color: var(--white-color);
  font-size: 15px;
  margin: 0 10px 30px 10px;
  text-align: justify;
  line-height: 17px;
  max-height: 40px;
  min-height: 35px;
  font-weight: 300;
}

.manh__food-cost {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 15px 30px;
}

.manh__food-cost i {
  color: var(--white-color);
  font-size: 15px;
  cursor: pointer;
}

.manh__food-cost i:hover {
  color: yellow;
}

.manh__food-money {
  display: inline-block;
  color: red;
  font-size: 15px;
}

.manh__btn {
  /* padding-top: 100px; */

}

.manh__btn-list {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--white-color);
  margin: 20px 10px 70px;
  cursor: pointer;
  border: none;
}

.manh__btn-list:hover {
  color: red;
  background-color: #888;
}

.myproduct {
  font-size: 35px;
  color: var(--black-color);
  font-weight: 400;
  padding-top: 70px;
  margin-bottom: 50px;
}

/* sale */
#saleoff {
  width: 100%;
  display: flex;
  height: 332px;
}

#saleoff .box-left {
  background: var(--background-color);
  text-align: center;
  min-height: 332px;
  flex: 1;
}

#saleoff .box-left h1 {
  padding-top: 50px;
}

#saleoff .box-left span:nth-child(1) {
  color: var(--white-color);
  font-size: 50px;
  margin: 20px;
  display: block;
}

#saleoff .box-left span:nth-child(2) {
  color: orange;
  font-size: 128px;
}

#saleoff .box-right {
  /* background-image: url(../img/banner2.png);
  background-repeat: no-repeat; */
  float: left;
  /* flex: 1; */
}